page-capture-photo {
    .background {
      background-color: #82ada9;
       
      }
      #colerbut {

        background-color: #002984;
    
      }
      div#logo {
        text-align: center;
      }
    
      #logo img {
        width: 200px;
      }
}

